/* 

===TABLE OF KEYWORDS===

1. =UNIVERSAL
2. =FORM
3. =ELEMENTS
4. =MEDIA QUERIES

Note: 
- ctrl+f and look for keywords with equal sign "=Keyword". 
- This template will be followed throughout the project.
- Will Strictly follow a mobile first approach.
*/

/* ===UNIVERSAL=== */
:root {
  /* DEFINED COLORS */
  --black: #1f1f29;
  --grey-1: #2f2f38;
  --grey-2: #36363f;
  --grey-3: #656565;
  --white: white;
  --green: #0C380D;
  --light-green-1: #426E4E;
  --light-green-2: #89B5A3;
  --blue: rgb(27, 147, 228);
  --red: rgb(223, 35, 35);

  /* ELEMENT COLORS */
  --color-black: var(--black);
  --color-grey: var(--grey-2);
  --color-white: var(--white);
  --outline-dark: var(--grey-3);
  --element-blue: var(--blue);
  --element-red: var(--red);
  --text-green: var(--green);
  --text-light-green: var(--light-green-2);

  /* COMPONENT COLORS */
  --bg-color1: var(--green);
  --bg-color2: var(--light-green-1);
  --primary-text-color: var(--green);
  --secondary-text-color: var(--light-green-2);

  /* GENERAL SIZES */
  --Gfont-size: 10px;
  --Gborder-radius: 7px;
  --Ginput-width: 50vw;
  --Ginput-height: 35px;
}
/* ===FORM=== */
form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  color: var(--green);
  border-radius: var(--Gborder-radius);
  border: 1px solid var(--outline-dark);
  /* border: 1px solid green; */
}

/* ===ELEMENTS=== */
form h3 {
  font-size: calc(var(--Gfont-size) + 5px);
  text-align: center;
}

label {
  margin-top: 20px;
  font-size: calc(var(--Gfont-size));
  font-weight: 500;
  align-self: self-start;
}

.password-util {
  width: calc(var(--Ginput-width) + 20px);
  display: flex;
  align-items: end;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.forgot-password {
  background: none;
  border: none;
  color: var(--element-blue);
  font-size: calc(var(--Gfont-size) - 1px);
  text-decoration: none;
  cursor: pointer;
}

.below-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.show-password {
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: calc(var(--Gfont-size) + 1px);
  gap: 5px;
  /* border: 1px solid red; */
}

.showpassword-checkbox {
  margin: 0;
  padding: 0;
  height: 13px;
  width: 13px;
  background-color: var(--color-white);
  cursor: pointer;
}

.auth-err {
  margin-top: 5px;
  margin-bottom: -15px;
  font-size: calc(var(--Gfont-size) - 2px);
  align-self: self-start;
}

.feedback {
  margin-top: 5px;
  margin-bottom: -15px;
  font-size: calc(var(--Gfont-size) - 2px);
  align-self: center;
}

input {
  height: calc(var(--Ginput-height) - 5px);
  width: calc(var(--Ginput-width) + 20px);
  padding: 0 10px;
  margin-top: 5px;
  font-size: calc(var(--Gfont-size));
  font-weight: 300;
  display: block;
  background-color: var(--light-green-2);
  border: none;
  /* border: 1px solid var(--outline-dark); */
  border-radius: var(--Gborder-radius);
  color: white;
}

input:focus {
  border-color: var(--color-white);
}

.password-input {
  padding-right: 30px;
}

.password-container {
  position: relative;
  display: inline-block;
}

.toggle-eye {
  position: absolute;
  right: 7px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: calc(var(--Gfont-size) + 5px);
}

.uil-eye {
  color: var(--color-white);
}

.uil-eye-slash {
  color: var(--outline-dark);
}

.primary-button {
  width: calc(var(--Ginput-width) + 20px);
  height: calc(var(--Ginput-height) - 5px);
  margin-top: 20px;
  font-size: calc(var(--Gfont-size));
  background-color: var(--light-green-2);
  color: var(--color-white);
  border-radius: var(--Gborder-radius);
  border: none;
  cursor: pointer;
  /* font-size: calc(var(--Gfont-size) + 10px); */
}

.secondary-button {
  width: calc(var(--Ginput-width) + 20px);
  height: calc(var(--Ginput-height) - 5px);
  margin-top: 10px;
  font-size: calc(var(--Gfont-size));
  background-color: var(--light-green-2);
  color: var(--color-white);
  border-radius: var(--Gborder-radius);
  border: none;
  /* border: 1px solid var(--outline-dark); */
  cursor: pointer;
  /* font-size: calc(var(--Gfont-size) + 10px); */
}

.primary-button:hover {
  background-color: var(--light-green-1);
}

.secondary-button:hover {
  background-color: var(--light-green-1);
}

/* ===MEDIA QUERIES=== */

@media (min-width: 768px) {
  form {
    padding: 1.5%;
  }

  form h3 {
    font-size: calc(var(--Gfont-size) + 10px);
  }

  label {
    margin-top: 20px;
    font-size: calc(var(--Gfont-size) + 3px);
  }

  .password-util {
    width: calc(var(--Ginput-width) - 20vw);
  }

  .forgot-password {
    margin-top: 10px;
    font-size: calc(var(--Gfont-size) + 2px);
  }

  .auth-err {
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: calc(var(--Gfont-size) - 2px);
  }

  .feedback {
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: calc(var(--Gfont-size) - 2px);
  }

  input {
    width: calc(var(--Ginput-width) - 20vw);
    padding: 0 10px;
    font-size: calc(var(--Gfont-size) + 4px);
  }

  .password-input {
    padding-right: 33px;
  }

  .toggle-eye {
    font-size: calc(var(--Gfont-size) + 7px);
  }

  .primary-button {
    width: calc(var(--Ginput-width) - 20vw);
    height: 35px;
    margin-top: 20px;
    font-size: calc(var(--Gfont-size) + 3px);
  }

  .secondary-button {
    width: calc(var(--Ginput-width) - 20vw);
    height: 35px;
    margin-top: 10px;
    font-size: calc(var(--Gfont-size) + 3px);
  }
}

@media (min-width: 1024px) {
  .password-util {
    width: calc(var(--Ginput-width) - 25vw);
  }

  .auth-err {
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: calc(var(--Gfont-size));
  }

  .feedback {
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: calc(var(--Gfont-size));
  }

  input {
    width: calc(var(--Ginput-width) - 25vw);
  }

  input {
    width: calc(var(--Ginput-width) - 25vw);
  }

  .password-input {
    padding-right: 33px;
  }

  .toggle-eye {
    font-size: calc(var(--Gfont-size) + 10px);
  }

  .primary-button {
    width: calc(var(--Ginput-width) - 25vw);
  }

  .secondary-button {
    width: calc(var(--Ginput-width) - 25vw);
  }
}

@media (min-width: 2560px) {
  form h3 {
    font-size: calc(var(--Gfont-size) + 15px);
  }

  label {
    font-size: calc(var(--Gfont-size) + 10px);
  }

  .forgot-password {
    font-size: calc(var(--Gfont-size) + 9px);
  }

  .auth-err {
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: calc(var(--Gfont-size) + 5px);
  }

  .feedback {
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: calc(var(--Gfont-size) + 5px);
  }

  input {
    height: 50px;
    font-size: calc(var(--Gfont-size) + 10px);
  }

  .primary-button {
    height: 50px;
    font-size: calc(var(--Gfont-size) + 10px);
  }

  .secondary-button {
    height: 50px;
    font-size: calc(var(--Gfont-size) + 10px);
  }
}
