
/* 

===TABLE OF KEYWORDS===

1. =UNIVERSAL
2. =HEADER
3. =MEDIA QUERIES

Note: 
- ctrl+f and look for keywords with equal sign "=Keyword". 
- This template will be followed throughout the project.
- Will Strictly follow a mobile first approach.
*/

/* ===UNIVERSAL=== */
:root {
    --bg-black: #1f1f29;
    --bg-grey: #2f2f38;
    --bg-white: #f0f0f5;
    --color-black: #1f1f29;
    --color-grey: #36363f;
    --color-white: #f0f0f5;
    --outline-dark: #656565;
    --element-blue: rgb(27, 147, 228);
    --Gfont-size: 10px;
    --Gborder-radius: 7px;
    --Ginput-width: 50vw;
    --Ginput-height: 35px;
}

.div-pad {
    width: 99%;
    height: 25vh;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

/* HEADER */
header {
    width: 100vw;
    height: 50px;
    margin: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-grey);
}

p a {
    text-decoration: none;
    color: var(--color-white);
} 

.menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--color-white);
    cursor: pointer;
}

.menu-icon::before {
    content: '\2630';
    /* Unicode for hamburger icon */
}

.nav-menu {
    height: fit-content;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding: 10px;
    border: 1px solid green;
    background-color: none;
    gap: 10px;
}

.nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--bg-grey);
}

header nav ul {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

header nav ul button {
    all: unset;
    font-size: calc(var(--Gfont-size) + 10px);
}

.notification-bell {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    /* Adjust the size as needed */
}

.notification-bell::before {
    content: 'notifications';
    font-size: calc(var(--Gfont-size) + 10px);
    border: 1px solid red;
    /* Unicode for bell icon */
}


.badge{
    position: absolute;
    top: 7px;
    left: -20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 9px;
}

.profile-icon {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: static;
    gap: 10px;
}


.dropdown button {
    all: unset;
}

#logout-button {
    height: 25px;
    width: 85px;
    background-color: #121212;
    color: white;
    border: 1px solid white
}

#logout-button:hover {
    filter: invert(100%);
}

#logout-button a {
    text-decoration: none;
    color: white;
}

/* === HOME === */
.home-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}

#home-div1 {
    height: 40vh;
    padding: 25px;
    display: flex;
    align-items: end;
}

#home-div1-innerdiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#home-div1-innerdiv > h1{
    font-size: calc(var(--Gfont-size) + 20px);
}

#home-div1-innerdiv > p{
    font-size: calc(var(--Gfont-size) + 2px);
}


.cta-button{
    all: unset;
    height: 30px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: calc(var(--Gborder-radius));
    background-color: var(--color-white);
    color: var(--color-grey);
    cursor: pointer;
}

.cta-button:hover{
    background-color: var();
}

#home-div2 {
    flex-grow: 1;
    width: 99%;
    margin: 10px 0;
    display: flex;
    border: 1px solid red;
}

.home-div2-leftdiv {
    height: 100%;
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    gap: 10px;
}

.home-div2-leftdiv-congratulations{
    text-align: center;
}

.home-div2-leftdiv > .home-div2-leftdiv-congratulations > h2 {
    font-size: calc(var(--Gfont-size) + 43px);
}

.home-div2-leftdiv > .home-div2-leftdiv-congratulations > h4 {
    font-size: calc(var(--Gfont-size) + 15px);
}

.home-div2-leftdiv > p {
    font-size: calc(var(--Gfont-size) + 5px);
}

.leaderboard-button {
    all: unset;
    height: 50px;
    width: 83%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: calc(var(--Gfont-size) + 5px);
    font-weight: bold;
    border-radius: calc(var(--Gborder-radius));
}

.home-div2-rightdiv {
    height: 100%;
    width: 50%;
    padding: 30px;
}

/* === CALCULATE === */
.calculate-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}

#calculate-div1 {
    height: 25vh;
}

#calculate-div2 {
    flex-grow: 1;
    margin: 10px 0;
}

/* ===PROFILE=== */
.profile-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}

#profile-div1 {
    height: 60vh;
}

/* === MEDIA QUERIES === */
@media (min-width: 768px) {

    header{
        width: 99%;
        border: 1px solid red;
        border-radius: 10px;
    }

    .menu-toggle {
        display: none;
    }

    .nav-menu {
        width: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: end;
        position: static;
        background-color: none;
        gap: 40px;
    }

    header nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 40px;
    }

    header nav ul button {
        all: unset;
        font-size: calc(var(--Gfont-size) + 4px);
    }

    .notification-bell {
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-size: 20px;
    }

    .notification-bell::before {
        content: '\1F514';
    }

    .badge{
        position: absolute;
        top: -5px;
        left: 10px;
        padding: 2px 5px;
    }

    .profile-icon {
        position: relative;
        display: inline-block;
        font-size: 20px;
    }

    .profile-icon::before {
        content: '\1F464';
    }

    .dropdown {
        display: none;
        position: absolute;
        right: 0;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
        margin-top: 10px;
        width: 150px;
    }

    .dropdown.active {
        display: block;

    }
    

    .dropdown button {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .dropdown button:hover {
        background-color: #f0f0f0;
    }

    #logout-button{
        /* margin-left: 40px; */
    }

    /* #call-to-action-button {
        margin: 10px 0px 10px 15px;
    } */
}