/* 

===TABLE OF KEYWORDS===

1. =UNIVERSAL
2. =FORM
3. =ELEMENTS
4. =MEDIA QUERIES

Note: 
- ctrl+f and look for keywords with equal sign "=Keyword". 
- This template will be followed throughout the project.
- Will Strictly follow a mobile first approach.
*/



/* ===UNIVERSAL=== */
:root {
    --bg-black: #1f1f29;
    --bg-grey: #2f2f38;
    --bg-white: #f0f0f5;
    --color-black: #1f1f29;
    --color-grey: #36363f;
    --color-white: #f0f0f5;
    --outline-dark: #656565;
    --Gfont-size: 10px;
    --Gborder-radius: 7px;
    --Ginput-width: 50vw;
    --Ginput-height: 35px;
}



/* ===FORM=== */
form {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-grey);
    border-radius: var(--Gborder-radius);
    border: 1px solid var(--outline-dark);
    /* border: 1px solid green; */
}

/* ===ELEMENTS=== */
form h3 {
    font-size: calc(var(--Gfont-size) + 5px);
    text-align: center;

}

label {
    margin-top: 20px;
    font-size: calc(var(--Gfont-size));
    font-weight: 500;
    align-self: self-start;
}

.password{
    width: calc(var(--Ginput-width) + 20px);
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.forgot-password{
    font-size: calc(var(--Gfont-size) - 1px);
    color: rgb(27, 147, 228);
    text-decoration: none;
}

.auth-err {
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: calc(var(--Gfont-size) - 2px);
    align-self: self-start;
}

.feedback {
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: calc(var(--Gfont-size) - 2px);
    align-self: center;
}

input {
    height: calc(var(--Ginput-height) - 5px);
    width: calc(var(--Ginput-width) + 20px);
    padding: 0 10px;
    margin-top: 5px;
    font-size: calc(var(--Gfont-size));
    font-weight: 300;
    display: block;
    background-color: var(--color-black);
    border: 1px solid var(--outline-dark);
    border-radius: var(--Gborder-radius);
    color: white;
}

input:focus{
    border-color: var(--color-white);
}

.primary-button {
    width: calc(var(--Ginput-width) + 20px);
    height: calc(var(--Ginput-height) - 5px);
    margin-top: 20px;
    font-size: calc(var(--Gfont-size));
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: var(--Gborder-radius);
    border: none;
    cursor: pointer;
    /* font-size: calc(var(--Gfont-size) + 10px); */
}

.secondary-button {
    width: calc(var(--Ginput-width) + 20px);
    height: calc(var(--Ginput-height) - 5px);
    margin-top: 10px;
    font-size: calc(var(--Gfont-size));
    background-color: var(--bg-black);
    color: var(--color-white);
    border-radius: var(--Gborder-radius);
    border: 1px solid var(--outline-dark);
    cursor: pointer;
    /* font-size: calc(var(--Gfont-size) + 10px); */
}

.primary-button:hover{
    background-color: rgb(255, 255, 255, 0.5);
}

.secondary-button:hover {
    background-color: rgba(255, 255, 255, 0.144);
}

/* ===MEDIA QUERIES=== */

@media (min-width: 768px) {

    form {
        padding: 1.5%;
    }

    form h3 {
        font-size: calc(var(--Gfont-size) + 10px);
    }

    label {
        margin-top: 20px;
        font-size: calc(var(--Gfont-size) + 3px);
    }

    .password{
        width: calc(var(--Ginput-width) - 20vw);
    }

    .forgot-password {
        margin-top: 10px;
        font-size: calc(var(--Gfont-size) + 2px);
    }

    .auth-err {
        margin-top: 5px;
        margin-bottom: -15px;
        font-size: calc(var(--Gfont-size) - 2px);
    }

    .feedback {
        margin-top: 5px;
        margin-bottom: -15px;
        font-size: calc(var(--Gfont-size) - 2px);
    }

    input {
        width: calc(var(--Ginput-width) - 20vw);
        padding: 0 10px;
        font-size: calc(var(--Gfont-size) + 4px);
    }

    .primary-button {
        width: calc(var(--Ginput-width) - 20vw);
        height: 35px;
        margin-top: 20px;
        font-size: calc(var(--Gfont-size) + 3px);
    }

    .secondary-button {
        width: calc(var(--Ginput-width) - 20vw);
        height: 35px;
        margin-top: 10px;
        font-size: calc(var(--Gfont-size) + 3px);
    }
}

@media (min-width: 1024px){

    .password {
        width: calc(var(--Ginput-width) - 25vw);
    }

    .auth-err {
        margin-top: 5px;
        margin-bottom: -15px;
        font-size: calc(var(--Gfont-size));
    }

    .feedback {
        margin-top: 5px;
        margin-bottom: -15px;
        font-size: calc(var(--Gfont-size));
    }

    input {
        width: calc(var(--Ginput-width) - 25vw);
    }

    input {
        width: calc(var(--Ginput-width) - 25vw);
    }

    .primary-button {
        width: calc(var(--Ginput-width) - 25vw);
    }
    
    .secondary-button {
        width: calc(var(--Ginput-width) - 25vw);
    }
}

@media (min-width: 2560px){
    form h3{
        font-size: calc(var(--Gfont-size) + 15px);
    }

    label{
        font-size: calc(var(--Gfont-size) + 10px);
    }

    .forgot-password{
        font-size: calc(var(--Gfont-size) + 9px);
    }

    .auth-err {
        margin-top: 5px;
        margin-bottom: -15px;
        font-size: calc(var(--Gfont-size) + 5px);
    }

    .feedback {
        margin-top: 5px;
        margin-bottom: -15px;
        font-size: calc(var(--Gfont-size) + 5px);
    }

    input{
        height: 50px;
        font-size: calc(var(--Gfont-size) + 10px);
    }

    .primary-button{
        height: 50px;
        font-size: calc(var(--Gfont-size) + 10px);
    }
    
    .secondary-button{
        height: 50px;
        font-size: calc(var(--Gfont-size) + 10px);
    }

}
